# .gitignore files #
####################

# General Files #
#####################
*.h5
*.xml
*.out

# Libraries #
##############
*.ace
*.00t
*.04t
*.08t
*.10t
*.12t
*.16t
*.18t
*.20t
*.22t
*.24t
*.26t