<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>50000</particles>
  <batches>20</batches>
  <inactive>2</inactive>
  <generations_per_batch>10</generations_per_batch>
  <source particle="neutron" strength="1.0" type="independent">
    <space type="fission">
      <parameters>-49.2633 -49.2633 -129.64 49.2633 49.2633 0.0</parameters>
    </space>
  </source>
</settings>
