<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>5000</particles>
  <batches>25</batches>
  <inactive>10</inactive>
  <generations_per_batch>10</generations_per_batch>
  <source particle="neutron" strength="1.0" type="independent">
    <space type="point">
      <parameters>0.0 0.0 -44.5</parameters>
    </space>
  </source>
</settings>
